#loading-box
  .space-scene
    .space-wrap
      .space-wall.space-wall-right
      .space-wall.space-wall-left
      .space-wall.space-wall-top
      .space-wall.space-wall-bottom
      .space-wall.space-wall-back
    .space-wrap
      .space-wall.space-wall-right
      .space-wall.space-wall-left
      .space-wall.space-wall-top
      .space-wall.space-wall-bottom
      .space-wall.space-wall-back
